# Building model on titanic data:

In [28]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn import tree
from sklearn.metrics import accuracy_score,classification_report

In [2]:
dt=pd.read_csv('data_cleaned.csv')
dt.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [3]:
dt.describe()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,...,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,29.699118,32.204208,0.242424,0.206510,0.551066,0.352413,0.647587,0.682379,0.234568,...,0.760943,0.132435,0.089787,0.005612,0.004489,0.005612,0.001122,0.188552,0.086420,0.725028
std,0.486592,13.002015,49.693429,0.428790,0.405028,0.497665,0.477990,0.477990,0.465813,0.423966,...,0.426747,0.339154,0.286037,0.074743,0.066890,0.074743,0.033501,0.391372,0.281141,0.446751
min,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,22.000000,7.910400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,29.699118,14.454200,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,35.000000,31.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,1.000000,80.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
dt.isnull().sum()

Survived      0
Age           0
Fare          0
Pclass_1      0
Pclass_2      0
Pclass_3      0
Sex_female    0
Sex_male      0
SibSp_0       0
SibSp_1       0
SibSp_2       0
SibSp_3       0
SibSp_4       0
SibSp_5       0
SibSp_8       0
Parch_0       0
Parch_1       0
Parch_2       0
Parch_3       0
Parch_4       0
Parch_5       0
Parch_6       0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [5]:
'''
Survived column are either 0 or 1,
where 0 represents that the passenger is not survived
'''

'\nSurvived column are either 0 or 1,\nwhere 0 represents that the passenger is not survived\n'

In [6]:
dt['Survived'].value_counts(normalize=True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [8]:
# making the dependent and indepedent variables
x=dt.drop(['Survived'],axis=1)
y=dt['Survived']

In [24]:
# spliting the data into training and validataion data
# here validation data size is 33% while renaining is traing size 77% 
x_train,x_valid,y_train,y_valid=train_test_split(x,y,random_state=0,test_size=0.33)

In [25]:
# building a competative model
model=DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [26]:
model.score(x_train,y_train)

0.9798657718120806

In [27]:
model.score(x_valid,y_valid)

0.7559322033898305

In [ ]:
# here model is not giving not give best accuracy on validation data
# so I am going to apply grid search cv for best parametering to take best accuracy on validtation data

# lets start

#  Using Grid Search CV to improve the model accuracy

In [37]:
parameters={"criterion":['gini','entropy'],'max_depth':[1,2,3,4,5,6,7,8,9,10],'splitter':["best", "random"],'random_state':[1,2,3,4,5,6,7,8,9,10,12]}
new_model=GridSearchCV(model,param_grid=parameters,cv=2)
new_model.fit(x_train,y_train)
print("Accuracy of model after GSCV on training data is:" ,new_model.score(x_train,y_train))
print("Accuracy of model after GSCV on Validation data is:" ,new_model.score(x_valid,y_valid))

Accuracy of model after GSCV on training data is: 0.8674496644295302
Accuracy of model after GSCV on Validation data is: 0.8033898305084746

In [39]:
print(new_model.best_params_ )

{'criterion': 'entropy', 'max_depth': 7, 'random_state': 6, 'splitter': 'random'}

In [40]:
print(new_model.best_score_ )

0.8053691275167785