In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [27]:
dt=pd.read_csv('heart.csv')
dt.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [28]:
dt.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [29]:
x=dt.drop('target',axis=1)
y=dt.target

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [40]:
# model creation
svm_model=SVC()

In [41]:
svm_model.fit(x_train,y_train)

SVC()

In [42]:
y_pred=svm_model.predict(x_test)

In [43]:
print('Accuracy of model is: ',accuracy_score(y_pred,y_test))
print('Precision of model is: ',accuracy_score(y_pred,y_test))
print('recall_score of model is: ',accuracy_score(y_pred,y_test))

Accuracy of model is:  0.5901639344262295
Precision of model is:  0.5901639344262295
recall_score of model is:  0.5901639344262295

In [44]:
# as above accuracy of model is low not well
# so we can make good accuracy score by gridsearchcv

In [45]:
parameters={'kernel':['rbf','linear'],'C':[1,2,3,4,5,6,7],'degree':[1,2,3,4,5]}

In [46]:
new_svm_model=GridSearchCV(estimator=svm_model,param_grid=parameters)
new_svm_model.fit(x_train,y_train)
y_pred_new=new_svm_model.predict(x_test)

In [47]:
print(new_svm_model.best_score_)

0.8349489795918368

In [48]:
print('Accuracy of model is: ',accuracy_score(y_pred_new,y_test))
print('Precision of model is: ',accuracy_score(y_pred_new,y_test))
print('recall_score of model is: ',accuracy_score(y_pred_new,y_test))

Accuracy of model is:  0.7704918032786885
Precision of model is:  0.7704918032786885
recall_score of model is:  0.7704918032786885